<nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="saveRelease()" [(nzVisible)]="isVisible">
  <ng-container *nzModalContent>
    <form [formGroup]="releaseForm" nz-form>
      <div nz-row>
        <div nz-col nzSm="12">
          <h6>
            <nz-form-item>
              <nz-form-label>Valor</nz-form-label>
              <nz-input-number
                [ngModel]="release? release.installment_value:0"
                [nzFormatter]="formatterCurrency"
                [nzMin]="1"
                formControlName="value"
                type="number">
              </nz-input-number>
            </nz-form-item>
          </h6>
        </div>
        <div nz-col nzSm="1"></div>
        <div nz-col nzSm="11">
          <h6>
            <nz-form-item>
              <nz-form-label>Data</nz-form-label>
              <nz-date-picker
                [ngModel]="release? release.date_release :''"
                formControlName="date_release"
                type="date">
              </nz-date-picker>
            </nz-form-item>
          </h6>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSm="24">
          <h6>
            <nz-form-item>
              <nz-form-label>Descrição</nz-form-label>
              <input [ngModel]="release? release.description :''"
                     formControlName="description"
                     nz-input
                     type="text">
            </nz-form-item>
          </h6>
        </div>
      </div>
      <div nz-row>
        <div [nzSm]="16" nz-col>
          <h6>
            <nz-form-item>
              <nz-form-label>Local</nz-form-label>
              <nz-input-group [nzPrefix]="prefixLocal">
                <input [ngModel]="release? release.place: ''" formControlName="place"
                       nz-input
                       type="text">
              </nz-input-group>
              <ng-template #prefixLocal>
                <i nz-icon nzTheme="outline" nzType="environment"></i>
              </ng-template>
            </nz-form-item>
          </h6>
        </div>
        <div [nzSm]="1" nz-col></div>
        <div [nzSm]="7" nz-col>
          <h6>
            <nz-form-item>
              <nz-form-label>Parcelas</nz-form-label>
              <nz-input-number
                [ngModel]="release? release.installment_times:1"
                [nzFormatter]="formatterInstallments"
                [nzMin]="1"
                formControlName="installment_times"
                type="number">
              </nz-input-number>
              <ng-template #prefixLocal>
                <i nz-icon nzTheme="outline" nzType="environment"></i>
              </ng-template>
            </nz-form-item>
          </h6>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div nz-row nzAlign="middle" nzJustify="space-around">
        <div nz-col nzSm="8">
          <nz-form-item>
            <nz-select [ngModel]="release? release.category.id :0" [nzDropdownRender]="renderTemplate"
                       class="text-center category"
                       formControlName="category_id">
              <nz-option [nzLabel]="'Categoria'" [nzValue]="0" nzDisabled></nz-option>
              <nz-option *ngFor="let c of categories" [nzLabel]=c.name [nzValue]=c.id></nz-option>
            </nz-select>
            <ng-template #renderTemplate>
              <nz-spin *ngIf="categoriesLoading"></nz-spin>
            </ng-template>
          </nz-form-item>
        </div>

        <div nz-col nzSm="8">
          <nz-form-item>
            <nz-select [ngModel]="release? release.type:0" class="text-center type" formControlName="type">
              <nz-option [nzLabel]="'Tipo'" nzDisabled></nz-option>
              <nz-option [nzLabel]="'Gasto'" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'Ganho'" [nzValue]="1"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>

        <div nz-col nzSm="8">
          <nz-form-item>
            <nz-select [ngModel]="release? release.is_paid: 0" class="text-center paid"
                       formControlName="is_paid">
              <nz-option [nzLabel]="'Está Pago?'" [nzValue]="0" nzDisabled></nz-option>
              <nz-option [nzLabel]="'Pago'" [nzValue]=true></nz-option>
              <nz-option [nzLabel]="'Não Pago'" [nzValue]="false"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>
