<nz-card class="shadow card-release m-2 border-1">
  <form [formGroup]="releaseForm" nz-form>
    <div nz-row>
      <div nz-col nzSm="12">
        <h6>
          <nz-form-item>
            <nz-input-group>
              <input [ngModel]="release.description" formControlName="description" type="text">
            </nz-input-group>
          </nz-form-item>
        </h6>
      </div>
      <div nz-col nzSm="12">
        <div class="float-end">
          <button (click)="delete(release.id)" class="mx-2" nz-button nzDanger nzType="primary">
            <i nz-icon nzTheme="outline" nzType="delete"></i>
          </button>
          <button (click)="edit(release.id)" class="mx-2" nz-button nzType="primary">
            <i nz-icon nzType="edit"></i>
          </button>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="12">
        <h6>
          <nz-form-item>
            <nz-input-group [nzPrefix]="prefixCurrency">
              <input [ngModel]="release.value" formControlName="value" type="number">
            </nz-input-group>
            <ng-template #prefixCurrency>
              {{currency}}
            </ng-template>
          </nz-form-item>
        </h6>
      </div>
      <div nz-col nzSm="12">
        <nz-form-item class="float-end">
          <nz-input-group>
            <!-- FIXME find a way to put date as dd/MMMM/YYYY -->
            <input [ngModel]="date_release"
                   formControlName="date_release"
                   type="date">
          </nz-input-group>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="16">
        <nz-form-item>
          <nz-input-group class="w-100">
            <input
              formControlName="place"
              placeholder="Local" type="text">
          </nz-input-group>
        </nz-form-item>
      </div>
      <div nz-col nzSm="8">
        <nz-form-item class="float-end">
          <nz-input-group [nzSuffix]="suffixInstallment" class="w-50">
            <input [ngModel]="release.repeat_times" alt="número de repetições" formControlName="repeat_times"
                   min="1" type="number">
          </nz-input-group>
          <ng-template #suffixInstallment>
            /{{release.repeat_times}}
          </ng-template>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div class="m-auto" nz-col nzSm="7">
        <nz-form-item>
          <nz-select [ngModel]="release.category['id']" [nzDropdownRender]="renderTemplate" class="category"
                     formControlName="category_id">
            <nz-option *ngFor="let c of categories" [nzLabel]=c.name [nzValue]=c.id></nz-option>
          </nz-select>
          <ng-template #renderTemplate>
            <nz-spin *ngIf="categoriesLoading"></nz-spin>
          </ng-template>
        </nz-form-item>
      </div>

      <div class="m-auto" nz-col nzSm="7">
        <nz-form-item>
          <nz-select [ngModel]="release.type" class="type" formControlName="type">
            <nz-option [nzLabel]="'Gasto'" [nzValue]="'ER'"></nz-option>
            <nz-option [nzLabel]="'Ganho'" [nzValue]="'IR'"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>

      <div class="m-auto" nz-col nzSm="7">
        <nz-form-item>
          <nz-select [ngModel]="release.is_release_paid" class="paid" formControlName="is_release_paid">
            <nz-option [nzLabel]="'Pago'" [nzValue]=true></nz-option>
            <nz-option [nzLabel]="'Não Pago'" [nzValue]="false"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-card>
