<footer class="bg-white border-top footer-mobile fixed-bottom">
  <div class="text-center my-4" nz-row>
    <div [class]="id == 1? 'glow' : ''" [nzXs]="8" nz-col (click)="changeMenu(1)">
      <h4 nz-icon nzTheme="outline" nzType="dollar"></h4>
      <br>
      <span>Lançamentos</span>
    </div>
    <div [class]="id == 2? 'glow' : ''" [nzXs]="8" nz-col (click)="changeMenu(2)">
      <h4 nz-icon nzTheme="outline" nzType="credit-card"></h4>
      <br>
      <span>Fatura</span></div>
    <div [class]="id == 3? 'glow' : ''" [nzXs]="8" nz-col (click)="changeMenu(3)">
      <h4 nz-icon nzTheme="outline" nzType="stock"></h4>
      <br>
      <span>Planejamento</span>
    </div>
  </div>
</footer>
