<nz-card nzTitle="Economee" [nzExtra]="extraTemplate">
    <nz-card-tab>
      <nz-tabset nzSize="large" [(nzSelectedIndex)]="index">
        <nz-tab nzTitle="Descrição"></nz-tab>
        <nz-tab nzTitle="Funções"></nz-tab>
        <nz-tab nzTitle="Sobre nós"></nz-tab>
      </nz-tabset>
    </nz-card-tab>
   <main id="landpageContent" *ngIf="index === 0">
      <h1>Economme: Você no controle do seu dinheiro!</h1>
      <p>Planeje seus gastos e seu dinheiro de um jeito prático e simples, tudo em um só lugar. <br>Uma vida financeira organizada nunca foi tão fácil.</p>
    </main>
  <main id="landpageContent2" *ngIf="index === 1">
    <h1>Economme: Você no controle do seu dinheiro!</h1>
    <p>Planeje seus gastos e seu dinheiro de um jeito prático e simples, tudo em um só lugar. <br>Uma vida financeira organizada nunca foi tão fácil.</p>
  </main>
  <main id="landpageContent3" *ngIf="index === 2">
    <div id="images">
      <div>
        <img src="../../assets/gabriel.jpg">
      </div>
      <div>
        <img src="../../assets/raul.jpg">
      </div>
      <div>
        <img src="../../assets/thiago.jpg">
      </div>
    </div>
    <div id="names">
      <div>Gabriel</div>
      <div>Raul</div>
      <div>Thiago</div>
    </div>
    <div id="aboutUs">
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet purus posuere, scelerisque nibh sed, scelerisque odio. Nam a aliquam sapien. Vestibulum egestas risus sit amet ornare euismod. Nulla malesuada nisl urna, sit amet faucibus ante scelerisque sed.</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet purus posuere, scelerisque nibh sed, scelerisque odio. Nam a aliquam sapien. Vestibulum egestas risus sit amet ornare euismod. Nulla malesuada nisl urna, sit amet faucibus ante scelerisque sed.</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet purus posuere, scelerisque nibh sed, scelerisque odio. Nam a aliquam sapien. Vestibulum egestas risus sit amet ornare euismod. Nulla malesuada nisl urna, sit amet faucibus ante scelerisque sed.</div>
    </div>
  </main>
</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="text">Login</button>
  <button nz-button nzType="primary">Cadastre-se</button>
</ng-template>
