/*:host ::ng-deep*/
nz-card {
  width: 85vw;
  height: 85vh;
  border-radius: 16px 16px 0px 0px;
}

:host ::ng-deep .ant-card-head {
  border-radius: 16px;
  box-shadow: 0px 4px 0px lightgrey ;
}

:host ::ng-deep .ant-card-head-title {
  font-size: 25px;
  color: #235C47;
  font-weight: bold;
}

:host ::ng-deep .ant-btn-primary {
  background-color: #29949D;
  border: none;
}

:host ::ng-deep .ant-btn-text {
  margin-right: 5vw;
}

#landpageContent {
  background-image: url("../../assets/porquinho.png");
  background-position-x: 38vw;
  background-size: 70vh;
  background-repeat: no-repeat;
  background-position-y: center;
}

#landpageContent h1 {
  font-size: 8vh;
  max-width: 40vw;
  margin: 5vw;
  margin-top: 3vh;
}

#landpageContent p {
  max-width: 42vw;
  font-size: 2.5vh;
  margin: 5vw;
}

#landpageContent3{
  margin-top: 6vh;
}

.images {
  height: 30vh;
}

.images div, .aboutUs div img{
  height: 20vh;
  width: 20vw;
  margin: 5vw;
  justify-content: center;
}

.aboutUs div img {
  width: unset;
}

.images div img, .aboutUs div img {
  border-radius: 50%;
}

.images, .images div, #names, .aboutUs{
  display: flex;
}

#names{
  justify-content: center;
}

#names div {
  font-size: 36px;
  width: 33%;
  text-align: center;
  font-weight: 500;
}

.aboutUs {
  justify-content: center;
}

.aboutUs div {
  width: 33%;
  margin-top: 2vh;
}
