<nz-card nzTitle="Economee" [nzExtra]="extraTemplate">
    <nz-card-tab>
      <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
        <nz-tab nzTitle="Descrição"></nz-tab>
        <nz-tab nzTitle="Funções"></nz-tab>
        <nz-tab nzTitle="Sobre nós"></nz-tab>
      </nz-tabset>
    </nz-card-tab>
    <main id="landpageContent">
      <h1>Economme: Você no controle do seu dinheiro!</h1>
      <p>Planeje seus gastos e seu dinheiro de um jeito prático e simples, tudo em um só lugar. <br>Uma vida financeira organizada nunca foi tão fácil.</p>
      <!--content{{ index1 }}-->
    </main>
</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="text">Login</button>
  <button nz-button nzType="primary">Cadastre-se</button>
</ng-template>
