<nz-page-header
  [class]="actualUrl$ ==='/dashboard'? 'page-header-heading-title-dashboard':'page-header-heading-title-welcome'"
  class="bg-white rounded-3">
  <nz-page-header-title>Economee</nz-page-header-title>
  <nz-page-header-subtitle *ngIf="isLogged$ | async">{{accountName$|async}}</nz-page-header-subtitle>
  <!--  <nz-page-header-content>-->

  <!--  </nz-page-header-content>-->
  <nz-page-header-extra *ngIf="isLogged$ | async">
    <button (click)="openCardsModal()" nz-button>Cartões</button>
    <button (click)="openCategoriesModal()" nz-button>Categorias</button>
    <button (click)="openAccountsModal()"  nz-button>Contas</button>

    <input (change)="onMonthChange($event)"
           value="{{balanceDate$|async}}"
           type="month">

    <nz-avatar [nzDropdownMenu]="dropdown" [nzPlacement]="'bottomCenter'" [nzSize]="32" nz-dropdown
               nzIcon="user">
    </nz-avatar>
    <nz-dropdown-menu #dropdown="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a [href]="'/dashboard/configuration'" class="text-decoration-none">
            Perfil
            <i nz-icon nzTheme="outline" nzType="user"></i>
          </a>
        </li>
        <li (click)="logout()" class="btn-danger text-white" nz-menu-item>
          Logout
          <i nz-icon nzTheme="outline" nzType="logout"></i>
        </li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
  <p>{{user.firstName}}</p>
</nz-page-header>
