.header-panel {
  background-color: #fff;
}

.height-inherit {
  height: inherit;
}

::ng-deep .ant-menu {
  background-color: #fff;
  box-shadow: none;
}
//
//::ng-deep .ant-page-header-heading-title {
//  margin: 0 24px !important;
//}

::ng-deep .page-header-heading-title-dashboard  {
  padding: 0 24px !important;
}

::ng-deep .page-header-heading-title-welcome {
  padding: 0 !important;
}

::ng-deep .ant-page-header-heading-sub-title {
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.65);
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .height-inherit {
    height: 100% !important;
  }
}
