<app-card class="header-panel rounded-3 m-4" nz-row nzJustify="center">
  <div class="logo text-center" nz-col nzMd="3"><h3>Economee</h3></div>
  <div nz-col nz-menu nzMd="18">
    <div nz-row>
      <div nz-col nzMd="12">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input nz-input placeholder="input search text" type="text"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <div nz-col nzMd="6"></div>
      <div nz-col nzMd="6">
        <!--        <nz-date-picker nzMode="month"></nz-date-picker>-->
      </div>
    </div>
  </div>
  <div class="text-center" nz-col nzMd="3">
    <nz-avatar [nzDropdownMenu]="dropdown" [nzPlacement]="'bottomCenter'" [nzSize]="64" nz-dropdown
               nzIcon="user"></nz-avatar>
    <nz-dropdown-menu #dropdown="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>1st menu item length</li>
        <li nz-menu-item>2nd menu item length</li>
        <li nz-menu-item>3rd menu item length</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</app-card>
