<nz-card class="card-border card-login" nzTitle="Economee">
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-form>
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira seu email!">
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="Email" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira sua senha!">
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="password" nz-input placeholder="Senha" type="password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="login-form-margin" nz-row>
      <div [nzSpan]="12" nz-col>
        <label formControlName="remember" nz-checkbox>
          <span>Lembrar de mim</span>
        </label>
      </div>
      <br><br>
      <div [nzSpan]="12" nz-col>
        <a class="login-form-forgot" href="/esqueciasenha">Esqueceu da senha?</a>
      </div>
    </div>
    <div class="text-center">
      <button [nzType]="'primary'" class="login-form-button login-form-margin" nz-button>Entrar</button>
      <br>
      <br>
      Ou
      <a href="/cadastro">Registre-se agora!</a>
    </div>
  </form>
</nz-card>

