<nz-card [nzExtra]="seeMore"
         [nzTitle]="release.description +(release.invoice_id ? '('+ release.installment_number+'/'+release.repeat_times+')':'')"
         class="card-release m-3 border-1">
  <form [formGroup]="releaseForm" nz-form>
    <div nz-row>
      <div nz-col nzSm="12">
        <p>{{release.installment_value | currency: currency.code}}</p>
      </div>
      <div nz-col nzSm="1"></div>
      <div nz-col nzSm="11">
        <p>
          <i nz-icon nzTheme="outline" nzType="calendar"></i>
          {{release.date_release | date: 'dd/MM/yyyy' }}
        </p>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="24">
        <p>
          <i nz-icon nzTheme="outline" nzType="environment"></i>
          {{release.place}}
        </p>
      </div>
    </div>
    <div nz-row nzJustify="space-around">
      <div nz-col nzSm="8">
        <div class="badge-economee category text-center">
          {{release.category.name}}
        </div>
      </div>

      <div nz-col nzSm="8">
        <div class="badge-economee text-center type">
          {{release.type == 'ER' ? 'Gasto' : 'Ganho'}}
        </div>
      </div>

      <div nz-col nzSm="8">
        <div class="badge-economee text-center paid">
          {{release.is_release_paid ? 'Pago' : 'Nao Pago'}}
        </div>
      </div>

    </div>
  </form>
</nz-card>

<ng-template #seeMore>
  <button (click)="showModal()" class="border-0" nz-button>
    <i nz-icon nzTheme="outline" nzType="arrows-alt"></i>
  </button>
</ng-template>

<nz-modal [(nzVisible)]="isVisibile">
  <app-releases-add (saved)="modalAction($event)" [release]="release"></app-releases-add>
</nz-modal>
