<nz-card [nzActions]="[add, cancelAdd]" [nzTitle]="'Novo lançamento'" class="shadow card-release m-2 border-1">
  <form [formGroup]="releaseForm" nz-form>
    <div nz-row>
      <div nz-col nzSm="24">
        <h6>
          <nz-form-item>
            <input formControlName="description"
                   nz-input placeholder="Descrição" type="text">
          </nz-form-item>
        </h6>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="12">
        <h6>
          <nz-form-item>
            <nz-input-group [nzPrefix]="prefixCurrency">
              <input formControlName="value" placeholder="Valor" type="number">
            </nz-input-group>
            <ng-template #prefixCurrency>
              {{currency}}
            </ng-template>
          </nz-form-item>
        </h6>
      </div>
      <div nz-col nzSm="2"></div>
      <div nz-col nzSm="10">
        <nz-form-item>
          <!-- FIXME find a way to put date as dd/MMMM/YYYY -->
          <input formControlName="date_release" nz-input placeholder="Data de lançamento" type="date">
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="12">
        <nz-form-item>
          <input formControlName="place" nz-input placeholder="Local" type="text">
        </nz-form-item>
      </div>
      <div nz-col nzSm="2"></div>
      <div nz-col nzSm="10">
        <nz-form-item class="float-end">
          <input formControlName="repeat_times" min="1" nz-input placeholder="Número de repetições" type="number"
                 value="1">
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div class="m-auto" nz-col nzSm="7">
        <nz-select [ngModel]="0" [nzDropdownRender]="renderTemplate" class="category" formControlName="category_id">
          <nz-option [nzLabel]="'Categoria'" [nzValue]="0" nzDisabled></nz-option>
          <nz-option *ngFor="let c of categories" [nzLabel]=c.name [nzValue]=c.id></nz-option>
        </nz-select>
        <ng-template #renderTemplate>
          <nz-spin *ngIf="categoriesLoading"></nz-spin>
        </ng-template>
      </div>

      <div class="m-auto" nz-col nzSm="7">
        <nz-select [ngModel]="0" class="type" formControlName="type">
          <nz-option [nzLabel]="'Tipo'" [nzValue]="0" nzDisabled></nz-option>
          <nz-option [nzLabel]="'Gasto'" [nzValue]="'ER'"></nz-option>
          <nz-option [nzLabel]="'Ganho'" [nzValue]="'IR'"></nz-option>
        </nz-select>
      </div>

      <div class="m-auto" nz-col nzSm="7">
        <nz-select [ngModel]="0" class="paid" formControlName="is_release_paid">
          <nz-option [nzLabel]="'Está Pago?'" [nzValue]="0" nzDisabled></nz-option>
          <nz-option [nzLabel]="'Pago'" [nzValue]=true></nz-option>
          <nz-option [nzLabel]="'Não Pago'" [nzValue]="false"></nz-option>
        </nz-select>
      </div>
    </div>
  </form>
</nz-card>
<ng-template #add>
  <button (click)="save()" class="mx-2" nz-button nzType="primary">
    <i nz-icon nzTheme="outline" nzType="plus"></i>
    Adicionar
  </button>
</ng-template>
<ng-template #cancelAdd>
  <button (click)="cancel()" class="mx-2" nz-button nzDanger nzType="primary">
    <i nz-icon nzTheme="outline" nzType="stop"></i>
    Cancelar
  </button>
</ng-template>

