<nz-empty
  [nzNotFoundContent]="contentTpl"
  [nzNotFoundFooter]="add"
  nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg">
  <ng-template #contentTpl>
        <span>
          {{text}}
        </span>
  </ng-template>
  <ng-template #add>
    <button (click)="onClick(1)" *ngIf="actionText !== ''" class="mx-2" nz-button
            nzType="primary">{{actionText}}</button>
    <ng-template [ngIf]="id === 2 && actionText2 !== ''">
      <button (click)="onClick(2)" nz-button nzType="primary">{{actionText2}}</button>
    </ng-template>
  </ng-template>
</nz-empty>
