<h3><a class="text-white" href="/">Economee</a></h3>
<nz-card class="card-border" nzTitle="Recuperar a senha">
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-form>
    <nz-form-item>
      <nz-form-control nzErrorTip="Informe seu email!">
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="Email" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="text-center">
      <button [nzType]="'primary'" class="login-form-button login-form-margin" nz-button>Recuperar</button>
      <br>
      <br>
      <a href="/login">Lembrou da senha? Clique aqui para voltar.</a>
    </div>
  </form>
</nz-card>

