<nz-modal
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [(nzVisible)]="isVisible"
  [nzOkLoading]="isOkLoading"
  nzTitle="Modal Title"
>
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-form>
    <!-- Card name -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Dê um nome ao cartão!">
        <nz-input-group nzPrefixIcon="credit-card">
          <input formControlName="name" nz-input placeholder="Nome do cartão" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Credit -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Informe o total de crédito total do cartão!">
        <nz-input-group nzPrefixIcon="dollar-circle">
          <input formControlName="credit" nz-input placeholder="Crédito total" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Pay Date -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Informe a release de pagamento do cartão!">
        <nz-input-group nzPrefixIcon="calendar">
          <input formControlName="pay_date" nz-input placeholder="Data de pagamento" type="date"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button *ngIf="!error" nz-button nzBlock [nzType]="'primary'">Enviar</button>
    <button *ngIf="error" nz-button nzBlock nzDanger [nzType]="'primary'">Enviar</button>
  </form>
</nz-modal>
