<nz-card [nzExtra]="extraTemplate" nzTitle="Economee">
  <nz-card-tab>
    <nz-tabset [(nzSelectedIndex)]="index" nzSize="large">
      <nz-tab nzTitle="Descrição"></nz-tab>
      <nz-tab nzTitle="Funções"></nz-tab>
      <nz-tab nzTitle="Sobre nós"></nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <!-- Intro -->
  <main *ngIf="index === 0">
    <div nz-row>
      <div class="m-auto p-5" nz-col nzMd="12" nzXs="24">
        <h2 nz-typography>Economme: Você no controle do seu dinheiro!</h2>
        <p nz-typography>
          Planeje seus gastos e seu dinheiro de um jeito prático e simples, tudo em um só lugar.
          <br>
          Uma vida financeira organizada nunca foi tão fácil.
        </p>
        <button class="text-center" nz-button nzType="primary">
          <a class="text-decoration-none" href="/welcome/signIn">Comece por aqui</a>
        </button>
      </div>
      <div class="m-auto" nz-col nzMd="12" nzXs="24">
        <img alt="Mascote" class="h-50 img-fluid" src='../../../assets/porquinho.png'>
      </div>
    </div>
  </main>
  <!-- Tools -->
  <main *ngIf="index === 1">
    <div class="text-center m-auto" nz-row>
      <div nz-col nzMd="8" nzXs="24" nzSm="12">
        <img alt="Dinheiro" class="img-fluid w-50" src="../../../assets/f1.png">
        <h4>Lançamentos de gastos</h4>
        <p nz-typography>
          Com o Economee vocês mantêm o controle do que gastou no seu mês.
          <br>
          Você informa dados simples de seu lançamento e com isso saberá quando, onde, quanto e por quê gastou ou
          ganhou.
        </p>
      </div>
      <div nz-col nzMd="8" nzXs="24" nzSm="12">
        <img alt="Gráficos" class="img-fluid w-75" src="../../../assets/f3.png">
        <h4>Gráficos</h4>
        <p nz-typography>
          Análise seus gastos com nossos gráficos.
          <br>
          Com Economee você pode saber quanto seu saldo estará comprometido ao longo dos meses ou ver quais categorias
          de gastos que mais consomem seu rendimento.
        </p>
      </div>
      <div nz-col nzMd="8" nzXs="24" nzSm="12">
        <img alt="Cartão" class="img-fluid w-50" src="../../../assets/f2.png">
        <h4>Lançamentos de gastos</h4>
        <p nz-typography>
          O Economee ajuda você a ter controle de sua fatura!
          <br>
          Com as informações de lançamentos da fatura fica mais fácil saber quando aquela compra parcelada acabará, ou
          quanto a sua fatura consume seu saldo mensal.
        </p>
      </div>
    </div>
  </main>
  <!-- About Us -->
  <main *ngIf="index === 2">
    <div class="text-center m-auto" nz-row>
      <div nz-col nzMd="8" nzXs="24" nzSm="12">
        <img alt="Ficou puto com as migartions" class="h-50 img-fluid" src="../../../assets/gabriel.jpg">
        <h4 nz-typography>Gabriel</h4>
        <p nz-typography>
          Técnico em informática formado pelo IFRS em 2017
          <br>
          Gerenciador de database / Desenvolvedor
          <br>
          <a class="h4" href="" nz-icon nzTheme="outline" nzType="linkedin"></a>
        </p>
      </div>
      <div nz-col nzMd="8" nzXs="24" nzSm="12">
        <img alt="Deu a ideia" class="h-50 img-fluid" src="../../../assets/raul.jpeg">
        <h4 nz-typography>Raul</h4>
        <p nz-typography>
          Técnico em informática formado pelo IFRS em 2017
          <br>
          Desenvolvedor / Project Owner
          <br>
          <a class="h4" href="https://www.linkedin.com/in/steffenraul/" nz-icon nzTheme="outline" nzType="linkedin"></a>
        </p>
      </div>
      <div nz-col nzMd="8" nzXs="24" nzSm="12">
        <img alt="Queimou o PC novo virando água" class="h-50 img-fluid" src="../../../assets/thiago.jpeg">
        <h4 nz-typography>Thiago</h4>
        <p nz-typography>
          Desenvolvedor / Design
          <br>
          <a class="h4" href="https://www.linkedin.com/in/thiago-goulart/" nz-icon nzTheme="outline"
             nzType="linkedin"></a>
        </p>
      </div>
    </div>
  </main>
</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="text"><a class="text-decoration-none" href="/welcome/login">Login</a></button>
  <button nz-button nzType="primary"><a class="text-decoration-none" href="/welcome/signIn">Cadastre-se</a></button>
</ng-template>
