<app-card nz-row nzJustify="space-between" class="h-100">
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-col nz-form>
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira seu email!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="username" nz-input placeholder="Username" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira sua senha!">
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="password" nz-input placeholder="Senha" type="password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="login-form-margin" nz-row>
      <div [nzSpan]="24" nz-col>
        <span *ngIf="error"
              class="bg-danger text-white text-center">As credenciais informadas não estão corretas!</span>
      </div>
      <!-- TODO -->
      <!--      <div [nzSpan]="12" nz-col>-->
      <!--        <label formControlName="remember" nz-checkbox>-->
      <!--          <span>Lembrar de mim</span>-->
      <!--        </label>-->
      <!--      </div>-->
      <!--      <br><br>-->
      <!--      <div [nzSpan]="12" nz-col>-->
      <!--        <a class="login-form-forgot" href="/forgetPassword">Esqueceu da senha?</a>-->
      <!--      </div>-->
    </div>
    <div class="text-center">
      <button *ngIf="!error" [nzType]="'primary'" class="login-form-button login-form-margin" nz-button>Entrar
      </button>
      <button *ngIf="error" [nzType]="'primary'" class="login-form-button login-form-margin" nz-button nzDanger>
        Entrar
      </button>
      <br>
      <br>
      Ou
      <a href="/welcome/signIn">Registre-se agora!</a>
    </div>
  </form>
  <div *ngIf="loadingLogin$">
    <h2 class="text-white" nz-icon nzTheme="outline" nzType="loading"></h2>
  </div>
</app-card>
