<ng-template [ngIfElse]="mobileTemplate" [ngIf]="mobile$ | async">
  <app-dashboard-mobile
    [totalAvailableValue]="totalAvailableValue"
    [totalExpensesValue]="totalExpensesValue"
    [totalIncomesValue]="totalIncomesValue">
  </app-dashboard-mobile>
</ng-template>
<ng-template #mobileTemplate>
  <app-dashboard-desktop
    [totalAvailableValue]="totalAvailableValue"
    [totalExpensesValue]="totalExpensesValue"
    [totalIncomesValue]="totalIncomesValue">
  </app-dashboard-desktop>
</ng-template>
