<nz-card [nzExtra]="addAction" [nzLoading]="loadingBalance || loadingAccount || loadingReleases" [nzTitle]="title"
         class="releases-panel w-100">
  <ng-template [ngIf]="hasData && (id===1 || id ===2)">
    <div *ngIf="id === 1" nz-row>
      <div nz-col nzSm="24">
        <!-- Release Income/Releases -->
        <nz-progress [nzPercent]="'100'" [nzShowInfo]="false"
                     [nzSuccessPercent]="expensesPercentage" [nzType]="'line'"></nz-progress>
      </div>
      <div nz-col nzSm="24">
        <div nz-row>
          <div nz-col nzSm="12">
            <p>Total Gasto
              <br>
              {{account.currency['symbol']}}{{balance.total_releases_expenses}}
            </p>
          </div>
          <div nz-col nzSm="12">
            <p class="text-end">
              Total recebido
              <br>
              {{account.currency['symbol']}}{{balance.total_releases_incomes}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="id === 2 && !loadingCard && !loadingInvoice " nz-row>
      <div nz-col nzSm="24">
        <!-- Card Available/Spent credit -->
        <nz-progress [nzPercent]="'100'" [nzShowInfo]="false"
                     [nzSuccessPercent]="expensesPercentage" [nzType]="'line'"></nz-progress>
      </div>
      <div nz-col nzSm="24">
        <div nz-row>
          <div nz-col nzSm="12">
            <p>Crédito Gasto
              <br>
              {{account.currency['symbol']}}{{invoice.total_card_expenses}}
            </p>
          </div>
          <div nz-col nzSm="12">
            <p class="text-end">
              Crédito total
              <br>
              {{account.currency['symbol']}}{{card.credit}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Release Card -->

    <div class="overflow-auto vh-50" id="releasesList">
      <div *ngIf="add">
        <app-release-add-card (saved)="showAddCard($event)" [card]="id===2"></app-release-add-card>
      </div>
      <div *ngFor="let r of releases">
        <app-releases-card [add]="false" [release]="r"></app-releases-card>
      </div>
    </div>
  </ng-template>

  <div *ngIf="id ===3">
    <plotly-plot [data]="gDataMonth" [layout]="layoutMonth"></plotly-plot>
    <plotly-plot [data]="gDataCategory" [layout]="layoutCategory"></plotly-plot>
  </div>

  <!-- No release info -->
  <ng-template [ngIf]="!hasData">
    <app-no-data *ngIf="!add" [actionText]="actionText" [text]="text" [type]="type"></app-no-data>
    <div class="overflow-auto vh-50">
      <div *ngIf="add">
        <app-release-add-card (saved)="showAddCard($event)" [card]="id===2"></app-release-add-card>
      </div>
    </div>
  </ng-template>

</nz-card>
<ng-template #addAction>
  <button (click)="showAddCard('false')" class="border-0" nz-button>
    <i nz-icon nzTheme="outline" nzType="plus-circle"></i>
  </button>
</ng-template>
