<nz-list nzItemLayout="vertical"
         [nzHeader]="releaseType === 1? 'Gastos e Ganhos':'Fatura do cartão'"
         [nzLoading]="releasesLoading">
  <nz-list-item *ngFor="let release of releases" nz-row>
    <nz-list-item-meta nz-col nzXs="14">
      <nz-list-item-meta-avatar [nzSrc]="release.type==='IR'?
                                     'assets/images/add_circle_black_24dp.svg'
                                     :
                                     'assets/images/remove_circle_black_24dp.svg'"></nz-list-item-meta-avatar>

      <nz-list-item-meta-title>
        <p>{{ release.value | currency: 'BRL' }}</p>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ release.description }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <div nz-col nzXs="10">
      Local: {{ release.place }}
      <br>
      Data: {{ release.date_release |  date: 'dd/MM/yyyy'}}
      <br>
      Parcela {{ release.installment_number }} de {{ release.repeat_times }}
    </div>
    <ul nz-list-item-actions nz-col nzXs="24">
      <nz-list-item-action>
        <button nz-button nzType="text">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
          Editar
        </button>
      </nz-list-item-action>
      <nz-list-item-action>
        <button nz-button nzType="text">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
          Deletar
        </button>
      </nz-list-item-action>
      <nz-list-item-action>
        <button nz-button nzType="text">
          <i nz-icon nzType="wallet" nzTheme="outline"></i>
          Pagar
        </button>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>

<!--[nzTheme]="'twotone'-->
