<!-- TODO improve loading info by adding some icons to show that something is being loaded -->
<div *ngIf="!accountLoading && !balanceLoading" nz-row>
  <div nz-col nzSm="10">
    <h3 class="text-white">Economee</h3>
    <h6 class="text-white">{{account.name}} |
      Disponível: {{account.currency['symbol']}} {{account.total_available}}</h6>
  </div>
  <div nz-col nzSm="12">
    <nz-form-item>
      <nz-input-group>
        <input (change)="changeBalance()" class="bg-transparent text-white border-0" max="{{maxDate}}" min="{{minDate}}"
               [ngModel]="dateReference"
               type="date">
      </nz-input-group>
    </nz-form-item>
  </div>
  <div nz-col nzSm="2">
    <button [nzDropdownMenu]="menu2" nz-button nz-dropdown nzPlacement="bottomRight" nzShape="circle">
      <i nz-icon nzType="user"></i>
    </button>
  </div>
  <nz-dropdown-menu #menu2="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <a [href]="'/dashboard/configuration'" class="text-decoration-none">
          Perfil
          <i nz-icon nzTheme="outline" nzType="user"></i>
        </a>
      </li>
      <li (click)="logout()" class="btn-danger text-white" nz-menu-item>
        Logout
        <i nz-icon nzTheme="outline" nzType="logout"></i>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
