<nz-card [nzActions]="[save]" [nzExtra]="actions" class="card-border card-cadastro" nzTitle="Economee - Cadastro">
  <form [formGroup]="form" class="login-form p-3" nz-form>
    <span>É hora de aprimorar seu controle financeiro, preencha os dados abaixo e faremos acontecer!</span>
    <hr>
    <h6>Dados Pessoais</h6>
    <!-- FIRST NAME -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira seu nome!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="first_name" nz-input placeholder="Nome" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- LAST NAME -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira seu sobrenome!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="last_name" nz-input placeholder="Sobrenome" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- DOB -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira sua release de nascimento!">
        <nz-input-group>
          <input formControlName="dob" nz-input placeholder="Data de nascimento" type="date"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- PHOTO -->
    <!--      <nz-form-item>-->
    <!--        <nz-form-control>-->
    <!--          <nz-input-group nzPrefixIcon="file-image">-->
    <!--            <input formControlName="photo" nz-input placeholder="Avatar" type="file"/>-->
    <!--          </nz-input-group>-->
    <!--        </nz-form-control>-->
    <!--      </nz-form-item>-->

    <hr>

    <h6>Dados de acesso</h6>
    <!-- USERNAME -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="usernameErrorTpl" [nzSpan]="12" nzHasFeedback>
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="username" nz-input placeholder="Username" type="text"/>
        </nz-input-group>
        <ng-template #usernameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('error')">O nome de usuário já está em uso!</ng-container>
          <ng-container *ngIf="control.hasError('incorrect')">O nome de usuário não está no formato correto!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- EMAIL -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailErrorTpl" [nzSpan]="12" nzHasFeedback>
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="Email" type="email"/>
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('error')">O email já está em uso</ng-container>
            <ng-container *ngIf="control.hasError('incorrect')">O email não está no formato correto!</ng-container>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- PASSWORD -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passErrorTpl" nzHasFeedback>
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="password" nz-input placeholder="Senha" type="password"/>
          <ng-template #passErrorTpl let-control>
            <ng-container *ngIf="control.hasError('number')">Sua senha deve conter ao menos um digito!<br>
            </ng-container>
            <ng-container *ngIf="control.hasError('lowerCase')">Sua senha deve conter ao menos um caractere
              minusculo!<br></ng-container>
            <ng-container *ngIf="control.hasError('upperCase')">Sua senha deve conter ao menos um caractere
              maiusculo!<br></ng-container>
            <ng-container *ngIf="control.hasError('specialDigit')">Sua senha deve conter ao menos um caractere especial!<br>
            </ng-container>
            <ng-container *ngIf="control.hasError('size')">Sua senha deve ter ao menos 8 e no máximo 16 caracteres e/ou
              digitos!<br></ng-container>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- REPEAT PASSWORD -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passRepeatErrorTpl" nzHasFeedback>
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="repeat_password" nz-input placeholder="Repita sua Senha" type="password"/>
          <ng-template #passRepeatErrorTpl let-control>
            <ng-container *ngIf="control.hasError('error')">As senhas não conferem!<br>
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">É necessário repetir sua senha!<br></ng-container>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <hr>
    <h6>Dados para sua conta</h6>

    <!-- ACCOUNT NAME -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira o nome da sua conta!">
        <nz-input-group nzPrefixIcon="bank">
          <input formControlName="account_name" nz-input placeholder="Nome da Conta" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- CURRENCIES -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Insira a moeda do seu país!">
        <nz-select [nzDropdownRender]="renderTemplate" formControlName="currency_id"
                   nzPlaceHolder="Seleciona a moeda do seu país" nzSuffixIcon="dollar">
          <nz-option *ngFor="let c of currencies" nzLabel="{{c.symbol}} - {{c.country}}"
                     nzValue="{{c.id}}"></nz-option>
        </nz-select>
      </nz-form-control>
      <ng-template #renderTemplate>
        <nz-spin *ngIf="currenciesLoading$"></nz-spin>
      </ng-template>
    </nz-form-item>
  </form>
  <div *ngIf="signUpLoading$" class="text-center">
    <h4 nz-icon nzTheme="outline" nzType="loading"></h4>
  </div>
</nz-card>
<ng-template #actions>
  <button nz-button nzType="text"><a class="text-decoration-none" href="/">Voltar</a></button>
  <button nz-button nzType="primary"><a class="text-decoration-none" href="/welcome/login">Login</a></button>
</ng-template>
<ng-template #save>
  <div class="w-50 m-auto">
    <button (click)="submit()" *ngIf="!error" [nzType]="'primary'" nz-button nzBlock>Enviar</button>
    <button (click)="submit()" *ngIf="error" [disabled]="true" [nzType]="'primary'" nz-button nzBlock nzDanger>Enviar
    </button>
  </div>
</ng-template>
