:host {
  height: 100% !important;
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host ::ng-deep > * {
  height: 100%;
}

nz-layout {
  background-color: #235C47 !important;
  background-image: url("src/assets/background.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 768px) and (orientation: portrait) {
  nz-layout {
    height: 100% !important;
    rotation: 90deg !important;
    background-repeat: repeat;
  }

  nz-content {
    width: 100%;
  }
}

:host ::ng-deep .card-border {
  border-radius: 16px;
}

:host ::ng-deep .vh-15 {
  height: 15vw !important;
}

:host ::ng-deep .vh-35 {
  height: 35vh !important;
}

:host ::ng-deep .vh-45 {
  height: 45vw !important;
}

:host ::ng-deep .vh-50 {
  height: 50vh !important;
}

:host ::ng-deep .vh-75 {
  height: 75vh !important;
}

:host ::ng-deep .vw-85 {
  width: 85vw !important;
}

