:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


nz-layout {
  background-color: #235C47 !important;
  background-image: url("src/assets/background.svg");
  background-size: auto auto;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 768px) and (orientation: portrait) {
  /*FIXME why rotation?*/
  nz-layout {
    rotation: 90deg;
  }

  nz-content {
    width: 100%;
  }
}

:host ::ng-deep .card-border {
  border-radius: 16px;
}

:host ::ng-deep .vh-45 {
  height: 45vw !important;
}

:host ::ng-deep .vh-50 {
  height: 50vw !important;
}

:host ::ng-deep .vw-85 {
  width: 85vw !important;
}

