<div class="h-100 vw-85">
  <app-header></app-header>
  <hr class="text-white w-100">
  <div class="vh-75 w-100" nz-row>
    <app-releases-panel [id]=1 [nzMd]="12" [nzSm]="24" [nzXl]="7" [title]="'Lançamentos'" class="p-3"
                        nz-col></app-releases-panel>
    <app-releases-panel [id]=2 [nzMd]="12" [nzSm]="24" [nzXl]="7" [title]="'Fatura'" class="p-3"
                        nz-col></app-releases-panel>
    <app-releases-panel [id]=3 [nzMd]="24" [nzSm]="24" [nzXl]="10" [title]="'Planejamento'" class="p-3"
                        nz-col></app-releases-panel>
  </div>
</div>
