<div class="h-100 vw-85">
  <app-header></app-header>
  <hr class="text-white w-100">
  <div class="w-100" nz-row>
    <app-releases-panel [data]="balanceReleases" [nzMd]="12" [nzSm]="24" [nzXl]="7" [title]="'Releases'" class="p-3"
                       nz-col></app-releases-panel>
    <app-releases-panel [data]="cardReleases" [nzMd]="12" [nzSm]="24" [nzXl]="7" [title]="'Card Releases'" class="p-3"
                       nz-col></app-releases-panel>
    <app-releases-panel [nzMd]="24" [nzSm]="24" [nzXl]="10" [title]="'My Planning'" class="p-3"
                       nz-col></app-releases-panel>
  </div>
</div>
