<div [nzGutter]="[20, 24]" nz-row nzJustify="space-around" class="max-vh-60">
  <div [nzMd]="10" nz-col>
    <div [nzGutter]="[20, 24]" class="vh-25" nz-row>
      <app-card [nzMd]="6" nz-col>
        <app-statistic-account-graphic [value]="totalIncomesValue" [id]="1"></app-statistic-account-graphic>
      </app-card>
      <app-card [nzMd]="6" nz-col>
        <app-statistic-account-graphic [value]="totalExpensesValue" [id]="2"></app-statistic-account-graphic>
      </app-card>
      <app-card [nzMd]="6" nz-col>
        <app-statistic-account-graphic [value]="0" [id]="3"></app-statistic-account-graphic>
      </app-card>
      <app-card [nzMd]="6" nz-col>
        <app-statistic-account-graphic [value]="0" [id]="4"></app-statistic-account-graphic>
      </app-card>
    </div>
    <div [nzGutter]="[20, 24]" class="vh-30" nz-row>
      <app-card [nzMd]="24" nz-col>
        <app-graphic-timeline></app-graphic-timeline>
      </app-card>
    </div>
    <div [nzGutter]="[20, 24]" class="vh-35" nz-row>
      <app-card [nzMd]="12" nz-col>
        <app-graphic-pizza></app-graphic-pizza>
      </app-card>
      <app-card [nzMd]="12" nz-col>
        <app-graphic-timeline></app-graphic-timeline>
      </app-card>
    </div>
  </div>

  <app-card [nzMd]="7" nz-col>
    <app-release-list [releaseType]=1 class="max-w-90 max-vh-80 overflow-auto p-2"></app-release-list>
  </app-card>
  <app-card [nzMd]="7" nz-col>
    <app-release-list [releaseType]=2 class="max-w-90 max-vh-80 overflow-auto p-2"></app-release-list>
  </app-card>
</div>
