<!--<app-header></app-header>-->
<div [nzGutter]="[20, 24]" class="m-4 vh-80" nz-row nzJustify="space-between">
  <app-card nz-col nzMd="7">

  </app-card>
  <app-card nz-col nzMd="7">

  </app-card>
  <div nz-col nzMd="10">
    <div [nzGutter]="[20, 24]" class="vh-20" nz-row>
      <app-card nz-col nzMd="12">

      </app-card>
      <app-card nz-col nzMd="12">

      </app-card>
    </div>
    <div [nzGutter]="[20, 24]" class="vh-30" nz-row>
      <app-card nz-col nzMd="24">

      </app-card>
    </div>
    <div [nzGutter]="[20, 24]" class="vh-35" nz-row>
      <app-card nz-col nzMd="12">

      </app-card>
      <app-card nz-col nzMd="12">

      </app-card>
    </div>
  </div>
</div>
